.article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$blue: #2E536B;
$teal: #00D1B4;
$peach: #D74F36;
$red: #9E1110;

h1, p {
   margin: 0;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   font-size: 15px;
}

/* Hero Styling */
.overflow {
  overflow-x: hidden;
}

.hero {
   height: 100vh;
   width: 100%;
   background: url('../../assets/hero-image-compressor.jpg');
   background-size: cover;
   background-position: center center;
   position: relative;
   .hero-left {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 15px;
      #input {
         margin: 10% 0 3% 0;
      }
      p {
         position: absolute;
         bottom: 10px;
         font-size: 0.7rem;
         font-family: "Work Sans";
      }
   }
}

.hero-nav {
   position: fixed;
   top: 0;
   width: 100%;
   background: $peach;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   color: white;
   opacity: 0;
   z-index: 15;
   transition: 0.75s;
   padding: 0.5% 2% 0.5% 0.5%;
   font-family: 'Work Sans', sans-serif;
   .hero-nav-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
         color: white;
      }
      img {
         width: 32px;
         height: 100%;
         margin-right: 10px;
      }
      p {
         font-size: 1.3rem;
      }
   }
   .hero-nav-middle {
      position: absolute;
      font-size: 1.6rem;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
   }
}

.hero-arrow {
   margin-left: 3px;
   font-size: 1.4rem;
}

.hero-left-title {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.red {
   color: $peach;
}

/* Book Display Styling */

#book-section {
   padding-top: 65px;
}

#book-list {
   display: flex;
   flex-wrap: wrap;
   max-width: 1100px;
   padding: 0;
   margin: 0 auto;
   list-style-type: none;
   text-align: center;
   li {
      flex: 1 0 calc(25% - 20px);
      margin: 10px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
         transform: scale(1.1);
      }
      p {
         margin-top: 20px;
         position: relative;
         &:after {
            content: '';
            width: 112px;
            background: $teal;
            height: 2px;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%,-50%);
         }
      }
      img {
         width: 111px;
         height: 148px;
      }
   }
}
.overlay-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background: white;
   color: black;
   border: 5px solid $peach;
   padding: 6%;
   border-radius: 10px;
   position: relative;
   .book-link {
     color: white;
   }
}

.book-overlay {
   position: fixed;
   height: 100%;
   width: 100%;
   top: 50%;
   left: 50%;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   transform: translate(-50%, -50%);
   background: rgba(0, 0, 0, 0.7);
   opacity: 0;
   z-index: -15;
   color: white;
   padding: 2%;
   .book-title {
      flex: 1 0 100%;
      margin-bottom: 26px;
      font-family: Work Sans;
      font-size: 1.5rem;
   }
   .book-image {
   }
   .book-overlay-right {
      font-family: 'Roboto', sans-serif;
      margin-left: 17px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .book-link {
        background: $blue;
        text-align: center;
        padding: 2% 6%;
        border-radius: 5px;
        transition: 0.5s;
        &:hover {
          background: $peach;
        }
      }
      .book-button {
         position: absolute;
         color: black;
         background: none;
         border: none;
         font-size: 1.5rem;
         top: 0;
         right: 0;
         transition: 0.5s;
         &:hover {
           color: $peach;
         }
      }
   }
}

.book-overlay-fix {
   opacity: 1;
   z-index: 5;
}



.grid {
   height: 150vh;
   max-width: 750px;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 65px 0;
   color: white;
   font-size: 1.5rem;
   font-family: 'Work Sans', sans-serif;
}

.left-side {
   width: calc(66.6% - 10px);
   height: 100%;
   margin-right: 10px;
}
.left-top {
   height: 33.3%;
   width: 100%;
   // background: url('../../assets/unsplash-writing-2.jpeg');
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   position:relative;
   overflow:hidden;
}

.left-top:after {
  content: '';
  position: absolute;
  display:block;
  z-index:-1;
  top: 0;
  left: 0;
  bottom:0;
  transition: 0.5s;
  right:0;
  background: url('../../assets/unsplash-writing-2-compressor.jpeg') no-repeat center;
  opacity:0.8;
  background-size: cover;
}

.left-top:hover:after{
    -webkit-filter: blur(5px);
}


.left-bottom {
   width: 100%;
   height: 66.6%;
   display: flex;
   flex-direction: row;
}
.left-bottom-left {
   flex: 1 0 calc(50% - 10px);
   height: calc(100% - 10px);
   margin-right: 10px;
   margin-top: 10px;
   // background: url('../../assets/unsplash-writing-5.jpeg');
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   position:relative;
}

.left-bottom-left:after {
  content: '';
  position: absolute;
  display:block;
  z-index:-1;
  top: 0;
  left: 0;
  bottom:0;
  transition: 0.5s;
  right:0;
  background:  url('../../assets/unsplash-writing-5-compressor.jpeg') no-repeat center;
  opacity:0.8;
  background-size: cover;
}

.left-bottom-left:hover:after{
    -webkit-filter: blur(5px);
}

.left-bottom-right {
   width: 50%;
   height: 100%;
}
.left-bottom-small {
   flex: 1 0 calc(100% - 10px);
   height: calc(50% - 10px);
   background: $blue;
   margin-top: 10px;
   display: flex;
   color: white;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   img {
      width: 50%;
      height: 50%;
   }
}

.left-bottom-small-size {
   width: 100%;
   height: calc(50% - 10px);
   margin-top: 10px;
   // background: url('../../assets/unsplash-writing-3.jpeg');
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   position:relative;
}

.left-bottom-small-size:after {
  content: '';
  position: absolute;
  display:block;
  z-index:-1;
  top: 0;
  transition: 0.5s;
  left: 0;
  bottom:0;
  right:0;
  background: url('../../assets/unsplash-writing-3-compressor.jpeg') no-repeat center;
  opacity:0.8;
  background-size: cover;
}

.left-bottom-small-size:hover:after{
    -webkit-filter: blur(5px);
}

.right-side {
   width: 33.3%;
   height: 100%;
}
.top-right {
   width: 100%;
   height: 66.6%;
   // background: url('../../assets/unsplash-writing-4.jpeg');
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   position:relative;
}

.top-right:after {
  content: '';
  position: absolute;
  display:block;
  z-index:-1;
  top: 0;
  left: 0;
  transition: 0.5s;
  bottom:0;
  right:0;
  background: url('../../assets/unsplash-writing-4-compressor.jpeg') no-repeat center;
  opacity:0.8;
  background-size: cover;
}

.top-right:hover:after{
    -webkit-filter: blur(5px);
}
.bottom-right {
   width: 100%;
   height: calc(33.3% - 10px);
   margin-top: 10px;
   // background: url('../../assets/unsplash-writing-desk.jpeg');
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   position:relative;
}


.bottom-right:after {
  content: '';
  position: absolute;
  display:block;
  z-index:-1;
  top: 0;
  left: 0;
  transition: 0.5s;
  bottom:0;
  right:0;
  background: url('../../assets/unsplash-writing-desk-compressor.jpeg') no-repeat center;
  opacity:0.8;
  background-size: cover;
}

.bottom-right:hover:after{
    -webkit-filter: blur(5px);
}
.blah {
   padding: 0 10px;
}

.grid-tagline {
   font-size: 0.7rem;
   text-transform: uppercase;
   color: $peach;
   margin-top: 20px;
   position: relative;
   &:after {
      content: '';
      height: 2px;
      background: $teal;
      width: 55%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: -10px;
      left: 50%;
   }
}

.grid-filter {
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,0.5);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   cursor: pointer;
   > * {
      position: relative;
      &:after {
         content: '';
         height: 2px;
         background: $teal;
         width: 55%;
         position: absolute;
         transform: translate(-50%,-50%);
         top: calc(100% + 20px);
         left: 50%;
      }
   }
}

.grid-press {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   cursor: pointer;
   height: 100%;
   width: 100%;
}

.hero-left-title {
   img {
      width:135px;
      margin-left: -5%;
   }
   h1 {
      font-size:120px;
   }
}

.hero .hero-left #input {
   margin: 10% 0 3% 0;
   width: 60%;
   border: none;
   background: none;
   border-bottom: 3px solid black;
   text-align: center;
   font-size: 1.8rem;
   &:focus {
      outline: none;
   }
   font-family: 'Nothing You Could Do', cursive;
}

#submit-button {
   font-family: inherit;
   font-size: 100%;
   font-weight: bolder;
   margin: 0;
   background: none;
   padding: 1.5% 5.5%;
   border: 3px solid black;
   transition: 0.5s;
   &:hover {
      background: #D74F36;
      color: white;
      border: 3px solid transparent;
   }
}

.hero-left form {
   width: 110%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.hero-nav {
   input {
    outline: none;
   }
   input::-webkit-search-decoration,
   input::-webkit-search-cancel-button {
    display: none;
   }
   input[type=search] {
     -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    // font-size: 100%;
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
   }

   input:-moz-placeholder {
    color: #999;
   }
   input::-webkit-input-placeholder {
    color: #999;
   }
   #magnify input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
   }
   #magnify input[type=search]:hover {
    background-color: #fff;
   }
   #magnify input[type=search]:focus {
    width: 165px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
   }
   #magnify input:-moz-placeholder {
    color: transparent;
   }
   #magnify input::-webkit-input-placeholder {
    color: transparent;
   }
}

span.test {
   border-bottom: 1px solid black;
   transition: 0.5s;
   &:hover {
      color: $peach;
   }
}

.loader {
   position: fixed;
   background: rgba(0,0,0,0.5);
   width: 100%;
   height: 100vh;
   opacity: 0;
   z-index: -10;
   transition: 0.5s;
   img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
   }
}

.loader-fixed {
   opacity: 1;
   z-index: 20;
}

footer {
	width: 100%;
	height: 75px;
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	text-transform: uppercase;
	justify-content: space-between;
  p {
  	color: lightgrey;
  	text-align: center;
  	letter-spacing: 3px;
  	font-size: 12px;
  	flex: 1 0 33.33%;
  	height: 40px;
  	margin: 0;
  }

  span {
  	font-size: 9px;
  	letter-spacing: 2px;
  	margin-bottom: 2px;
  	text-decoration: underline;
  }

  a {
  	text-decoration: none;
  	color: rgba(0, 0, 0, 0.5);
  	letter-spacing: 3px;
  	font-size: 10px;
  }

  a:hover {
  	color: #9E1110;
  	transition: 0.5s;
  }
}

@media (max-width: 775px) {
  .hero {
    .hero-left {
      width: 70%;
      .hero-left-title {
        h1 {
          font-size: 105px;
          text-align: center;
        }
      }
      #input {
        font-size: 1.2rem;
      }
    }
  }
  .hero-nav-right {
    #magnify input[type=search]:focus {
     width: 95px;
     padding-left: 32px;
     color: #000;
     background-color: #fff;
     cursor: auto;
    }
  }
  .hero-nav-middle {
    opacity: 0;
  }
  .grid {
    .left-side {
      flex: 1 0 100%;
      margin: 0;
    }
    .right-side {
      display: none;
    }
  }
  .book-overlay {
    .overlay-container {
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .hero {
    .hero-left {
      width: 100%;
      p {
        text-align: center;
      }
      .hero-left-title {
        h1 {
          font-size: 90px;
          text-align: center;
        }
      }
      #input {
        font-size: 1rem;
      }
    }
  }
  .hero-nav-left {
    width: 15%;
  }
  .book-overlay {
    img {
      margin-bottom: 7px;
    }
  }
  footer {
    a, span {
      font-size: 7px;
    }
  }
}
