.article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 15px;
}

/* Hero Styling */
.hero {
  height: 100vh;
  width: 100%;
  background: url("../../assets/hero-image.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero .hero-left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.hero .hero-left #input {
  margin: 10% 0 3% 0;
}

.hero .hero-left p {
  position: absolute;
  bottom: 10px;
  font-size: 0.7rem;
  font-family: "Work Sans";
}

.hero-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #D74F36;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  opacity: 0;
  z-index: 15;
  transition: 0.75s;
  padding: 0.5% 2% 0.5% 0.5%;
  font-family: 'Work Sans', sans-serif;
}

.hero-nav .hero-nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-nav .hero-nav-left span {
  color: white;
}

.hero-nav .hero-nav-left img {
  width: 5%;
  height: 100%;
  margin-right: 10px;
}

.hero-nav .hero-nav-left p {
  font-size: 1.3rem;
}

.hero-arrow {
  margin-left: 3px;
  font-size: 1.4rem;
}

.hero-left-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.red {
  color: #D74F36;
}

/* Book Display Styling */
#book-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
}

#book-list li {
  flex: 1 0 calc(25% - 20px);
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}

#book-list li:hover {
  transform: scale(1.1);
}

#book-list li p {
  margin-top: 20px;
  position: relative;
}

#book-list li p:after {
  content: '';
  width: 112px;
  background: #00D1B4;
  height: 2px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#book-list li img {
  width: 111px;
  height: 148px;
}

.book-overlay {
  position: fixed;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  top: 50%;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: -15;
  color: white;
}

.book-overlay p {
  padding: 0 10%;
}

.book-overlay-fix {
  opacity: 1;
  z-index: 15;
}

.grid {
  height: 150vh;
  max-width: 750px;
  display: flex;
  margin: 5% auto;
  color: white;
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;
}

.left-side {
  width: calc(66.6% - 10px);
  height: 100%;
  margin-right: 10px;
}

.left-top {
  height: 33.3%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.left-top:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../assets/unsplash-writing-2.jpeg") no-repeat center;
  opacity: 0.8;
  background-size: cover;
}

.left-top:hover:after {
  -webkit-filter: blur(5px);
}

.left-bottom {
  width: 100%;
  height: 66.6%;
  display: flex;
  flex-direction: row;
}

.left-bottom-left {
  flex: 1 0 calc(50% - 10px);
  height: calc(100% - 10px);
  margin-right: 10px;
  margin-top: 10px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.left-bottom-left:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../assets/unsplash-writing-5.jpeg") no-repeat center;
  opacity: 0.8;
  background-size: cover;
}

.left-bottom-left:hover:after {
  -webkit-filter: blur(5px);
}

.left-bottom-right {
  width: 50%;
  height: 100%;
}

.left-bottom-small {
  flex: 1 0 calc(100% - 10px);
  height: calc(50% - 10px);
  background: #2E536B;
  margin-top: 10px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-bottom-small img {
  width: 50%;
  height: 50%;
}

.blah {
  position: relative;
  padding: 0 10px;
}

.blah:after {
  content: '';
  height: 2px;
  background: #00D1B4;
  width: 55%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(100% + 20px);
  left: 50%;
}

.left-bottom-small-size {
  width: 100%;
  height: calc(50% - 10px);
  margin-top: 10px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.left-bottom-small-size:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../assets/unsplash-writing-3.jpeg") no-repeat center;
  opacity: 0.8;
  background-size: cover;
}

.left-bottom-small-size:hover:after {
  -webkit-filter: blur(5px);
}

.right-side {
  width: 33.3%;
  height: 100%;
}

.top-right {
  width: 100%;
  height: 66.6%;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.top-right:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../assets/unsplash-writing-4.jpeg") no-repeat center;
  opacity: 0.8;
  background-size: cover;
}

.top-right:hover:after {
  -webkit-filter: blur(5px);
}

.bottom-right {
  width: 100%;
  height: calc(33.3% - 10px);
  margin-top: 10px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom-right:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../assets/unsplash-writing-desk.jpeg") no-repeat center;
  opacity: 0.8;
  background-size: cover;
}

.bottom-right:hover:after {
  -webkit-filter: blur(5px);
}

.grid-tagline {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #D74F36;
}

.grid-filter {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.grid-filter > * {
  position: relative;
}

.grid-filter > *:after {
  content: '';
  height: 2px;
  background: #00D1B4;
  width: 55%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(100% + 20px);
  left: 50%;
}

.hero-left-title img {
  width: 22%;
  margin-left: -5%;
}

.hero-left-title h1 {
  font-size: 120px;
}

.hero .hero-left #input {
  margin: 10% 0 3% 0;
  width: 60%;
  border: none;
  background: none;
  border-bottom: 3px solid black;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Nothing You Could Do', cursive;
}

.hero .hero-left #input:focus {
  outline: none;
}

#submit-button {
  font-family: inherit;
  font-size: 100%;
  font-weight: bolder;
  margin: 0;
  background: none;
  padding: 1.5% 5.5%;
  border: 3px solid black;
  transition: 0.5s;
}

#submit-button:hover {
  background: #D74F36;
  color: white;
  border: 3px solid transparent;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
